* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 43px;
}

h3 {
  font-size: 25px;
}

h5 {
  font-size: 16px;
  padding-bottom: 15px;
}

/******** HEADER ********/

.header-container {
  width: 100%;
}

.header-row {
  height: 60px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-col .content a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
}

/******** UTILITY CLASSES ********/

.margin-r10p {
  margin-right: 10px;
}

.margin-r30p {
  margin-right: 30px;
}

.blue-b {
  background-color: rgba(0, 97, 255, 255);
  padding: 8px 15px;
  color: white;
  border: none;
  cursor: pointer;
}

.blue-b-horizontal {
  background-color: rgba(0, 97, 255, 255);
  padding: 10px 59px;
  color: white;
  border: none;
  cursor: pointer;
}

.white_b {
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.margin-bot-75 {
  margin-bottom: 75px;
}

.margin-bot-105 {
  margin-bottom: 105px;
}

.padding-bot-15 {
  padding-bottom: 15px;
}

.margin-bot-40 {
  margin-bottom: 40px;
}

.margin-bot-25 {
  margin-bottom: 25px;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-top-50 {
  margin-top: 50px;
}

.padding-t20-b35 {
  padding-top: 20px;
  padding-bottom: 35px;
}

.margin-t50-b20 {
  margin-top: 50px;
  margin-bottom: 20px;
}
/******** MAIN ********/

.main-container {
  background-color: rgba(180, 208, 231, 255);
}

.white-main-container {
  margin-top: 100px;
}

.main-row-1200 {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

.main-col-p70 {
  padding-top: 70px;
  width: 1160px;
}

.main-col-p30 {
  width: 30%;
  padding-top: 30px;
}

.main-col-p {
  width: 70%;
}

.main-col-p img {
  height: 100%;
  width: 100%;
  position: relative;
  top: 25px;
}

.main-row-1000-up {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.main-row-1000 {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

.main-row-horizontal {
  width: 1000px;
  margin: 0 auto 150px auto;
  display: flex;
  border: 1px solid rgba(225, 225, 227, 255);
}

.main-row-horizonatal-header {
  width: 1000px;
  margin: 50px auto 0px auto;
  display: flex;
  justify-content: center;
}

.main-col-horizontal-70 {
  width: 70%;
}

.main-col-horizontal-30 {
  width: 30%;
}

.main_row_parter_drop {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
}

.main_col_partner_drop_60 {
  width: 60%;
}

.main_col_partner_drop_60 img {
  height: 100%;
  width: 100%;
}

.main_col_partner_drop_40 {
  width: 40%;
}

.main-col-1000 {
  border: 1px solid rgba(225, 225, 227, 255);
  flex: 1;
}

.upper-single {
  border-bottom: 1px solid rgba(225, 225, 227, 255);
  text-align: center;
  padding: 10px;
}

.upper-single-horizontal {
  padding: 10px;
  border-left: 1px solid rgba(225, 225, 227, 255);
  border-top: 1px solid rgba(225, 225, 227, 255);
  border-right: 1px solid rgba(225, 225, 227, 255);
  width: 100%;
  text-align: center;
}

/******** CARD BLOCK ********/

.card__text {
  padding: 20px;
}

.card__text__block {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__text__block:nth-child(3)::after {
  content: "";
  width: 50px;
  display: block;
  height: 1px;
  background-color: #000;
  margin-top: 40px;
}

.card__text__iconText {
  display: flex;
  align-items: baseline;
  padding: 10px 0;
}

.radio_text {
  margin-top: 60px;
  margin-bottom: 50px;
}

.card__text__price {
  font-weight: 600;
}

.card__text__month {
  color: gray;
}

.card__text__horizontal {
  padding: 20px;
}
